html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(125, 167, 225);
}
.text{
    text-align: center;
    color: rgb(27, 54, 94);
}

.button{
    color: rgb(241, 9, 183);
    background-color: rgb(101, 224, 218);
   height: 10vh;
   width:3.5vw;
    padding: 20px;
    margin: 10px 10px;
    border-color:2px solid black;
    font-size: large;
    border-radius:20px;
}
.mx-auto{
   margin: auto;
}
.m-w-20{
    max-width: 20vw;
}
.bg-red{
    background-color: rgb(255, 0, 255);
    border-radius: 20px;
}
.felx{
   display: flex;
}
.flex-col{
    flex-direction:column;
}
.item-center{
    align-items: center;   
}
.input{
    padding: 10px;
    margin: 10px 10px;
  font-size: large;
  
}
.bar{
    background-color: rgb(255, 0, 255);
    height: 10vh;
    flex-direction:column;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}
